body {
    background-color: #000; 
    color: #fff; 
  }
  
  .navbar {
    background-color: #000 !important; 
  }
  
  .navbar-brand, .nav-link {
    color: #fff !important; 
  }
  
  .card {
    background-color: #000; 
    color: #fff; 
    border: 1px solid #fff; 
  }
  
  .bg-light {
    background-color: #000 !important; 
    color: #fff !important; 
  }
  
  .bg-primary, .btn-primary {
    background-color: #000 !important; 
    border-color: #fff !important;
  }
  
  .text-primary {
    color: #fff !important; 
  }
  
  .text-white {
    color: #fff !important; 
  }
  
  .btn-success {
    background-color: #6c757d !important; 
    border-color: #6c757d !important;
  }
  
  .header {
    background-color: #000;
    color: #fff;
  }
  
  footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  