body {
    background-color: #000; /* Color de fondo negro */
    color: #fff; /* Color de texto blanco */
  }
  
  .navbar {
    background-color: #000 !important; /* Fondo del navbar negro */
  }
  
  .navbar-brand, .nav-link {
    color: #fff !important; /* Texto del navbar blanco */
  }
  
  .card {
    background-color: #000; /* Fondo de las tarjetas negro */
    color: #fff; /* Texto de las tarjetas blanco */
    border: 1px solid #fff; /* Borde blanco */
  }
  
  .bg-light {
    background-color: #000 !important; /* Fondo negro para secciones claras */
    color: #fff !important; /* Texto blanco */
  }
  
  .bg-primary, .btn-primary {
    background-color: #000 !important; /* Fondo de botones y encabezados negros */
    border-color: #fff !important;
  }
  
  .text-primary {
    color: #fff !important; /* Texto en blanco para enlaces primarios */
  }
  
  .text-white {
    color: #fff !important; /* Texto blanco */
  }
  
  .btn-success {
    background-color: #6c757d !important; /* Fondo gris para botones de éxito */
    border-color: #6c757d !important;
  }
  
  .header {
    background-color: #000;
    color: #fff;
  }
  
  footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  